* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #E0E0E0; /* Light grey text for better contrast */
}

body {
    margin-top: 20px;
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light grey text for better contrast */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #BB86FC; /* Soft purple for headings */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #333; /* Darker background for the table */
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #555; /* Lighter line for separation */
}

th {
    background-color: #222; /* Even darker background for headers */
    color: #FFD600; /* Bright yellow for header texts */
}

input[type="text"], input[type="number"] {
    padding: 0.5rem;
    width: 300px;
    margin-bottom: 1rem;
    background-color: #333;
    border: 1px solid #444; /* Subtle borders for inputs */
    color: #E0E0E0;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #03DAC5; /* Teal for buttons */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    color: #000; /* Dark text on light background buttons */
}

button:hover {
    background-color: #018786; /* Darker teal on hover */
}

a {
    display: inline-block; /* Align better with text */
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #BB86FC; /* Soft purple for links */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
    background-color: #3700B3; /* Darker purple on hover */
}
